nssm
python
sessions
thirdparty
vcredit
Uninstall.exe
note.txt
Odoo/server/odoo.log
.venv
.idea
vcredist

# file yg ga penting di push ke github
Odoo/server/CONTRIBUTING.md
Odoo/server/COPYRIGHT
Odoo/server/LICENSE
Odoo/server/MANIFEST.in
Odoo/server/odoo-bin
Odoo/server/SECURITY.md
Odoo/server/setup.cfg
Odoo/server/setup.py
package-lock.json
package.json