.o_form_button_save {
    /* content: url('/master_data/static/src/img/save_gray_16px.png'); */
    /* margin-right: 5px;  */
    font-size: 20px;
}

.o_form_button_cancel {
    /* content: url('/master_data/static/src/img/cancel24px.png');
    margin-right: 5px; */
    font-size: 20px;
}


/* Hide default Odoo icon for Save button */
/* .o_form_button_save .fa
{
    display: none;
} */